In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import json

# Datos - REPS

In [2]:
df_reps = pd.read_csv('../../Data/REPS.csv')

C:\Users\SGM\AppData\Local\Temp\ipykernel_13856\3122532733.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_reps = pd.read_csv('../../Data/REPS.csv')

In [3]:
df_reps['codigo_prestador'] = df_reps['CodigoPrestador']
df_reps['codigo_habilitacion_sede'] = df_reps['CodigoHabilitacionSede']
df_reps.iloc[56503]['CodigoPrestador'], df_reps.iloc[56503]['CodigoHabilitacionSede'], df_reps.iloc[74472]['CodigoPrestador'], df_reps.iloc[74472]['CodigoHabilitacionSede']

df_reps.at[56503, 'codigo_prestador'] = df_reps.iloc[56503]['CodigoPrestador'].replace(" ", "")
df_reps.at[56503, 'codigo_habilitacion_sede'] = df_reps.iloc[56503]['CodigoHabilitacionSede'].replace(" ", "")
df_reps.at[74472, 'codigo_prestador'] = df_reps.iloc[74472]['CodigoPrestador'].replace(" ", "")
df_reps.at[74472, 'codigo_habilitacion_sede'] = df_reps.iloc[74472]['CodigoHabilitacionSede'].replace(" ", "")

df_reps['codigo_prestador'] = df_reps['codigo_prestador'].astype(np.int64)
df_reps['codigo_habilitacion_sede'] = df_reps['codigo_habilitacion_sede'].astype(np.int64)

In [4]:
departamentos = [
    'Amazonas', 'Antioquia', 'Arauca', 'Atlántico',
    'Bogotá D.C', 'Bolívar', 'Boyacá', 'Caldas',
    'Caquetá', 'Casanare', 'Cauca', 'Cesar', 
    'Chocó', 'Córdoba', 'Cundinamarca', 'Guainía', 
    'Guaviare', 'Huila', 'La Guajira', 'Magdalena',
    'Meta', 'Nariño', 'Norte de Santander', 'Putumayo',
    'Quindío', 'Risaralda', 'San Andrés y Providencia', 'Santander',
    'Sucre', 'Tolima', 'Valle del cauca', 'Vaupés', 
    'Vichada'
    ]

distritos_especiales = [
    'Barranquilla',
    'Buenaventura',
    'Cartagena',
    'Santa Marta'
]

distritos_especiales_departamentos = {
    'Barranquilla': 'Atlántico',
    'Buenaventura': 'Valle del cauca',
    'Cartagena': 'Bolívar',
    'Santa Marta': 'Magdalena',
    'Cali': 'Valle del cauca'
}

In [5]:
df_reps['Departamento'] = df_reps['DepartamentoSedeDesc'].replace(distritos_especiales_departamentos)
df_reps = df_reps[df_reps['ClasePrestadorDesc'] == 'Instituciones Prestadoras de Servicios de Salud - IPS']

In [6]:
columnas = [
    'DepartamentoSedeDesc',
    'MunicipioPrestadorDesc',
    'MunicipioSede',
    'MunicipioSedeDesc',
    'codigo_prestador',
    'codigo_habilitacion_sede',
    'NaturalezaJuridica',
    # 'ClasePrestadorDesc'
]

In [7]:
df_reps = df_reps[columnas]

In [8]:
df_reps.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19726 entries, 0 to 76393
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DepartamentoSedeDesc      19726 non-null  object
 1   MunicipioPrestadorDesc    19726 non-null  object
 2   MunicipioSede             19726 non-null  int64
 3   MunicipioSedeDesc         19726 non-null  object
 4   codigo_prestador          19726 non-null  int64
 5   codigo_habilitacion_sede  19726 non-null  int64
 6   NaturalezaJuridica        19726 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.2+ MB

In [9]:
df_reps.head()

,DepartamentoSedeDesc,MunicipioPrestadorDesc,MunicipioSede,MunicipioSedeDesc,codigo_prestador,codigo_habilitacion_sede,NaturalezaJuridica
0,Amazonas,LETICIA,91263,EL ENCANTO,9100100019,912630001911,Pública
1,Amazonas,LETICIA,91405,LA CHORRERA,9100100019,914050001914,Pública
2,Amazonas,LETICIA,91407,LA PEDRERA,9100100019,914070001915,Pública
3,Amazonas,LETICIA,91430,LA VICTORIA,9100100019,914300001916,Pública
5,Amazonas,LETICIA,91001,LETICIA,9100100019,910010001901,Pública

# Datos - Atención y Capacidad

In [10]:
df_atencion_capacidad = pd.read_csv('../../Data/IPS_Atencion_Capacidad.csv')

In [11]:
df_atencion_capacidad['codigo_sede'] = df_atencion_capacidad['codigo_sede'].astype('int64')

df_atencion_capacidad.drop(
    [
        'Nombre prestador',
        'nit IPS ',
        'num digito_verificion',
        'nom sede IPS', 
        'Gerente', 
        'Dirección',
        'Email',
        'Teléfono',
        'Fecha Corte', 
        'Fuente'
    ],
    axis=1,
    inplace=True
)

In [12]:
df_atencion_capacidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41427 entries, 0 to 41426
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Departamento                      41427 non-null  object
 1   Municipio                         41427 non-null  object
 2   Código prestador                  41427 non-null  int64
 3   naturaleza                        41427 non-null  object
 4   num nivel atencion                16161 non-null  float64
 5   Código sede                       41427 non-null  int64
 6   Número sede                       41427 non-null  int64
 7   nom grupo capacidad               41427 non-null  object
 8   nom descripcion capacidad         41427 non-null  object
 9   num cantidad capacidad instalada  41427 non-null  int64
 10  codigo_sede                       41427 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 3.5+ MB

In [13]:
df_atencion_capacidad.head()

,Departamento,Municipio,Código prestador,naturaleza,num nivel atencion,Código sede,Número sede,nom grupo capacidad,nom descripcion capacidad,num cantidad capacidad instalada,codigo_sede
0,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMAS,Pediátrica,3,912630001911
1,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMAS,Adultos,4,912630001911
2,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMAS,TPR,1,912630001911
3,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMAS,Atención del Parto,1,912630001911
4,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMILLAS,Observación Pediátrica,2,912630001911

In [14]:
len(df_atencion_capacidad['codigo_sede'].unique())

15547

In [15]:
len(set(df_atencion_capacidad['codigo_sede'].unique()).intersection(df_reps['codigo_habilitacion_sede'].unique()))

14939

# Transformacion

In [24]:
df_atencion_capacidad['Capacidad'] = df_atencion_capacidad['nom grupo capacidad '].str.capitalize() + "-" + df_atencion_capacidad['nom descripcion capacidad ']

In [25]:
df_atencion_capacidad

,Departamento,Municipio,Código prestador,naturaleza,num nivel atencion,Código sede,Número sede,nom grupo capacidad,nom descripcion capacidad,num cantidad capacidad instalada,codigo_sede,Capacidad
0,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMAS,Pediátrica,3,912630001911,Camas-Pediátrica
1,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMAS,Adultos,4,912630001911,Camas-Adultos
2,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMAS,TPR,1,912630001911,Camas-TPR
3,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMAS,Atención del Parto,1,912630001911,Camas-Atención del Parto
4,Amazonas,EL ENCANTO,9100100019,Pública,2.0,9126300019,11,CAMILLAS,Observación Pediátrica,2,912630001911,Camillas-Observación Pediátrica
...,...,...,...,...,...,...,...,...,...,...,...,...
41422,Vichada,SANTA ROSALÍA,9900100006,Pública,2.0,9962400006,9,CAMILLAS,Observación Adultos Mujeres,1,996240000609,Camillas-Observación Adultos Mujeres
41423,Vichada,SANTA ROSALÍA,9900100006,Pública,2.0,9962400006,9,CONSULTORIOS,Urgencias,1,996240000609,Consultorios-Urgencias
41424,Vichada,SANTA ROSALÍA,9900100006,Pública,2.0,9962400006,9,CONSULTORIOS,Consulta Externa,4,996240000609,Consultorios-Consulta Externa
41425,Vichada,SANTA ROSALÍA,9900100006,Pública,2.0,9962400006,9,SALAS,Partos,1,996240000609,Salas-Partos
41426,Vichada,SANTA ROSALÍA,9900100006,Pública,2.0,9962400006,9,SALAS,Procedimientos,1,996240000609,Salas-Procedimientos

In [32]:
df_atencion_capacidad_transformed = df_atencion_capacidad.pivot_table(
    values='num cantidad capacidad instalada',
    # index=['codigo_sede', 'num nivel atencion', 'naturaleza'],
    index=['codigo_sede'],
    columns='Capacidad',
    aggfunc='sum',
    # margins=True
).fillna(0).reset_index()
df_atencion_capacidad_transformed = pd.merge(df_atencion_capacidad_transformed, df_atencion_capacidad[['codigo_sede', 'num nivel atencion', 'naturaleza']].drop_duplicates(), how='left', on='codigo_sede')
df_atencion_capacidad_transformed = df_atencion_capacidad_transformed[['codigo_sede', 'num nivel atencion', 'naturaleza'] + list(df_atencion_capacidad_transformed.columns)[1:-2]]
df_atencion_capacidad_transformed[list(df_atencion_capacidad_transformed.columns)[3:]] = df_atencion_capacidad_transformed[list(df_atencion_capacidad_transformed.columns)[3:]].astype('int64')

In [34]:
df_atencion_capacidad_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15547 entries, 0 to 15546
Data columns (total 66 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   codigo_sede                                        15547 non-null  int64
 1   num nivel atencion                                 3313 non-null   float64
 2   naturaleza                                         15547 non-null  object
 3   Ambulancias-Básica                                 15547 non-null  int64
 4   Ambulancias-Medicalizada                           15547 non-null  int64
 5   Camas-Adultos                                      15547 non-null  int64
 6   Camas-Atención del Parto                           15547 non-null  int64
 7   Camas-Cuidado Agudo Mental                         15547 non-null  int64
 8   Camas-Cuidado Intensivo Adulto                     15547 non-null  int64
 9   Camas-Cuidado Intensivo Neonatal                   15547 non-null  int64
 10  Camas-Cuidado Intensivo Pediátrico                 15547 non-null  int64
 11  Camas-Cuidado Intermedio Adulto                    15547 non-null  int64
 12  Camas-Cuidado Intermedio Neonatal                  15547 non-null  int64
 13  Camas-Cuidado Intermedio Pediátrico                15547 non-null  int64
 14  Camas-Cuidado básico neonatal                      15547 non-null  int64
 15  Camas-Cuna Básico Neonatal                         15547 non-null  int64
 16  Camas-Cuna Intensiva Neonatal                      15547 non-null  int64
 17  Camas-Cuna Intensiva Pediátrica                    15547 non-null  int64
 18  Camas-Cuna Intermedia Neonatal                     15547 non-null  int64
 19  Camas-Cuna Intermedia Pediátrica                   15547 non-null  int64
 20  Camas-Farmacodependencia                           15547 non-null  int64
 21  Camas-Incubadora Básico Neonatal                   15547 non-null  int64
 22  Camas-Incubadora Intensiva Neonatal                15547 non-null  int64
 23  Camas-Incubadora Intermedia Neonatal               15547 non-null  int64
 24  Camas-Institución Paciente Crónico                 15547 non-null  int64
 25  Camas-Intensiva Adultos                            15547 non-null  int64
 26  Camas-Intensiva Pediátrica                         15547 non-null  int64
 27  Camas-Intensiva Quemado Adulto                     15547 non-null  int64
 28  Camas-Intensiva Quemado pediátrica                 15547 non-null  int64
 29  Camas-Intermedia Adultos                           15547 non-null  int64
 30  Camas-Intermedia Pediátrica                        15547 non-null  int64
 31  Camas-Obstetricia                                  15547 non-null  int64
 32  Camas-Paciente crónico con ventilador              15547 non-null  int64
 33  Camas-Paciente crónico sin ventilador              15547 non-null  int64
 34  Camas-Pediátrica                                   15547 non-null  int64
 35  Camas-Psiquiatría                                  15547 non-null  int64
 36  Camas-SPA Adultos                                  15547 non-null  int64
 37  Camas-SPA Básico Adultos                           15547 non-null  int64
 38  Camas-SPA Básico Pediátricos                       15547 non-null  int64
 39  Camas-SPA Pediátricas                              15547 non-null  int64
 40  Camas-Salud Mental                                 15547 non-null  int64
 41  Camas-Salud Mental Adulto                          15547 non-null  int64
 42  Camas-Salud Mental Pediátrico                      15547 non-null  int64
 43  Camas-TPR                                          15547 non-null  int64
 44  Camas-Transplante de progenitores hematopoyeticos  15547 non-null  int64
 45  Camas-Unidad de Quemados Adulto                    15547 non-null  int64
 46  Camas-Unidad de Quemados Pediátrico                15547 non-null  int64
 47  Camillas-Observación Adultos Hombres               15547 non-null  int64
 48  Camillas-Observación Adultos Mujeres               15547 non-null  int64
 49  Camillas-Observación Pediátrica                    15547 non-null  int64
 50  Camillas-Otras patologías                          15547 non-null  int64
 51  Camillas-SPA                                       15547 non-null  int64
 52  Camillas-Salud Mental                              15547 non-null  int64
 53  Consultorios-Consulta Externa                      15547 non-null  int64
 54  Consultorios-Urgencias                             15547 non-null  int64
 55  Salas-Partos                                       15547 non-null  int64
 56  Salas-Procedimientos                               15547 non-null  int64
 57  Salas-Quirófano                                    15547 non-null  int64
 58  Salas-Sala de Cirugía                              15547 non-null  int64
 59  Salas-Sala de Radioterapia                         15547 non-null  int64
 60  Sillas-Otras patologías                            15547 non-null  int64
 61  Sillas-SPA                                         15547 non-null  int64
 62  Sillas-Salud Mental                                15547 non-null  int64
 63  Sillas-Sillas de Hemodiálisis                      15547 non-null  int64
 64  Sillas-Sillas de Quimioterapia                     15547 non-null  int64
 65  Unidad movil-Unidad Móvil                          15547 non-null  int64
dtypes: float64(1), int64(64), object(1)
memory usage: 7.8+ MB

In [35]:
df_atencion_capacidad_transformed

,codigo_sede,num nivel atencion,naturaleza,Ambulancias-Básica,Ambulancias-Medicalizada,Camas-Adultos,Camas-Atención del Parto,Camas-Cuidado Agudo Mental,Camas-Cuidado Intensivo Adulto,Camas-Cuidado Intensivo Neonatal,...,Salas-Procedimientos,Salas-Quirófano,Salas-Sala de Cirugía,Salas-Sala de Radioterapia,Sillas-Otras patologías,Sillas-SPA,Sillas-Salud Mental,Sillas-Sillas de Hemodiálisis,Sillas-Sillas de Quimioterapia,Unidad movil-Unidad Móvil
0,50010001201,NaN,Privada,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,50010016401,NaN,Privada,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0
2,50010025201,NaN,Privada,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,50010025204,NaN,Privada,0,0,0,0,0,0,0,...,6,0,0,0,0,0,0,0,0,0
4,50010029701,NaN,Privada,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15542,996240000609,2.0,Pública,2,0,6,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15543,997730000607,2.0,Pública,3,0,12,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15544,997730011401,NaN,Privada,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15545,997730013001,NaN,Privada,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15546,997730014501,NaN,Privada,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df_atencion_capacidad_transformed.to_csv('../../Data/IPS_Atencion_Capacidad_Transformed.csv', index=False)