In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
df_reps = pd.read_csv('../../Data/REPS.csv')

C:\Users\SGM\AppData\Local\Temp\ipykernel_15688\3122532733.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_reps = pd.read_csv('../../Data/REPS.csv')

In [3]:
df_reps['codigo_prestador'] = df_reps['CodigoPrestador']
df_reps['codigo_habilitacion_sede'] = df_reps['CodigoHabilitacionSede']
df_reps.iloc[56503]['CodigoPrestador'], df_reps.iloc[56503]['CodigoHabilitacionSede'], df_reps.iloc[74472]['CodigoPrestador'], df_reps.iloc[74472]['CodigoHabilitacionSede']

df_reps.at[56503, 'codigo_prestador'] = df_reps.iloc[56503]['CodigoPrestador'].replace(" ", "")
df_reps.at[56503, 'codigo_habilitacion_sede'] = df_reps.iloc[56503]['CodigoHabilitacionSede'].replace(" ", "")
df_reps.at[74472, 'codigo_prestador'] = df_reps.iloc[74472]['CodigoPrestador'].replace(" ", "")
df_reps.at[74472, 'codigo_habilitacion_sede'] = df_reps.iloc[74472]['CodigoHabilitacionSede'].replace(" ", "")

df_reps['codigo_prestador'] = df_reps['codigo_prestador'].astype(np.int64)
df_reps['codigo_habilitacion_sede'] = df_reps['codigo_habilitacion_sede'].astype(np.int64)

In [4]:
columnas = [
    'DepartamentoSedeDesc',
    'MunicipioPrestadorDesc',
    'MunicipioSedeDesc',
    'codigo_prestador',
    'codigo_habilitacion_sede',
    'NaturalezaJuridica',
    'ClasePrestadorDesc'
]

In [5]:
df_reps = df_reps[columnas]

In [6]:
departamentos = [
    'Amazonas', 'Antioquia', 'Arauca', 'Atlántico',
    'Bogotá D.C', 'Bolívar', 'Boyacá', 'Caldas',
    'Caquetá', 'Casanare', 'Cauca', 'Cesar', 
    'Chocó', 'Córdoba', 'Cundinamarca', 'Guainía', 
    'Guaviare', 'Huila', 'La Guajira', 'Magdalena',
    'Meta', 'Nariño', 'Norte de Santander', 'Putumayo',
    'Quindío', 'Risaralda', 'San Andrés y Providencia', 'Santander',
    'Sucre', 'Tolima', 'Valle del cauca', 'Vaupés', 
    'Vichada'
    ]

distritos_especiales = [
    'Barranquilla',
    'Buenaventura',
    'Cartagena',
    'Santa Marta'
]

distritos_especiales_departamentos = {
    'Barranquilla': 'Atlántico',
    'Buenaventura': 'Valle del cauca',
    'Cartagena': 'Bolívar',
    'Santa Marta': 'Magdalena',
    'Cali': 'Valle del cauca'
}

In [7]:
df_reps['Departamento'] = df_reps['DepartamentoSedeDesc'].replace(distritos_especiales_departamentos)

In [8]:
df_reps = df_reps[df_reps['ClasePrestadorDesc'] == 'Instituciones Prestadoras de Servicios de Salud - IPS']

In [9]:
df_reps.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19726 entries, 0 to 76393
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DepartamentoSedeDesc      19726 non-null  object
 1   MunicipioPrestadorDesc    19726 non-null  object
 2   MunicipioSedeDesc         19726 non-null  object
 3   codigo_prestador          19726 non-null  int64
 4   codigo_habilitacion_sede  19726 non-null  int64
 5   NaturalezaJuridica        19726 non-null  object
 6   ClasePrestadorDesc        19726 non-null  object
 7   Departamento              19726 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.4+ MB

In [10]:
df_reps.head()

,DepartamentoSedeDesc,MunicipioPrestadorDesc,MunicipioSedeDesc,codigo_prestador,codigo_habilitacion_sede,NaturalezaJuridica,ClasePrestadorDesc,Departamento
0,Amazonas,LETICIA,EL ENCANTO,9100100019,912630001911,Pública,Instituciones Prestadoras de Servicios de Salu...,Amazonas
1,Amazonas,LETICIA,LA CHORRERA,9100100019,914050001914,Pública,Instituciones Prestadoras de Servicios de Salu...,Amazonas
2,Amazonas,LETICIA,LA PEDRERA,9100100019,914070001915,Pública,Instituciones Prestadoras de Servicios de Salu...,Amazonas
3,Amazonas,LETICIA,LA VICTORIA,9100100019,914300001916,Pública,Instituciones Prestadoras de Servicios de Salu...,Amazonas
5,Amazonas,LETICIA,LETICIA,9100100019,910010001901,Pública,Instituciones Prestadoras de Servicios de Salu...,Amazonas

# Sedes

In [58]:
df_reps.groupby(['NaturalezaJuridica']).agg(count=('codigo_habilitacion_sede', 'count'))

                    count
NaturalezaJuridica
Mixta                  60
Privada             16045
Pública              3621

In [12]:
len(df_reps['codigo_prestador'].unique())

11072

In [13]:
len(df_reps['codigo_habilitacion_sede'].unique())

19726

In [67]:
df_prestadores = df_reps[['codigo_prestador', 'NaturalezaJuridica']].drop_duplicates()

In [69]:
df_prestadores.head()

    codigo_prestador NaturalezaJuridica
0         9100100019            Pública
13        9100100069            Privada
15        9100100088            Privada
21        9100100113            Privada
26        9100100141            Privada

# Prestadores

In [70]:
df_prestadores.groupby(['NaturalezaJuridica']).agg(count=('codigo_prestador', 'count'))

                    count
NaturalezaJuridica
Mixta                  18
Privada             10055
Pública               999

In [23]:
df_ips = pd.read_csv("../../Data/IPS_Complejidad.csv")

In [24]:
departamentos = [
    'Amazonas', 'Antioquia', 'Arauca', 'Atlántico',
    'Bogotá D.C', 'Bolívar', 'Boyacá', 'Caldas',
    'Caquetá', 'Casanare', 'Cauca', 'Cesar', 
    'Chocó', 'Córdoba', 'Cundinamarca', 'Guainía', 
    'Guaviare', 'Huila', 'La Guajira', 'Magdalena',
    'Meta', 'Nariño', 'Norte de Santander', 'Putumayo',
    'Quindío', 'Risaralda', 'San Andrés y Providencia', 'Santander',
    'Sucre', 'Tolima', 'Valle del cauca', 'Vaupés', 
    'Vichada'
    ]

distritos_especiales = [
    'Barranquilla',
    'Buenaventura',
    'Cartagena',
    'Santa Marta'
]

distritos_especiales_departamentos = {
    'Barranquilla': 'Atlántico',
    'Buenaventura': 'Valle del cauca',
    'Cartagena': 'Bolívar',
    'Santa Marta': 'Magdalena'
}

In [25]:
columnas = [
    'depa_nombre',
    'muni_nombre',
    'codigo_habilitacion',
    'razon_social',
    'nivel',
    'habilitado',
    'naju_codigo',
    'naju_nombre',
    'clase_persona'
]

In [26]:
df_ips = df_ips[columnas]

In [27]:
df_ips['Departamento'] = df_ips['depa_nombre'].replace(distritos_especiales_departamentos)

In [28]:
df_ips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11466 entries, 0 to 11465
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   depa_nombre          11466 non-null  object
 1   muni_nombre          11466 non-null  object
 2   codigo_habilitacion  11466 non-null  int64
 3   razon_social         11466 non-null  object
 4   nivel                1002 non-null   float64
 5   habilitado           11466 non-null  object
 6   naju_codigo          11466 non-null  int64
 7   naju_nombre          11466 non-null  object
 8   clase_persona        11466 non-null  object
 9   Departamento         11466 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 895.9+ KB

In [29]:
df_ips.head()

,depa_nombre,muni_nombre,codigo_habilitacion,razon_social,nivel,habilitado,naju_codigo,naju_nombre,clase_persona,Departamento
0,Amazonas,LETICIA,9100100019,E.S.E. HOSPITAL SAN RAFAEL DE LETICIA,2.0,SI,4,Pública,JURIDICO,Amazonas
1,Amazonas,LETICIA,9100100185,FREYA SKIN AND BODY CARE S.A.S TWO,NaN,SI,1,Privada,JURIDICO,Amazonas
2,Amazonas,LETICIA,9100100069,FUNDACION CLINICA LETICIA,NaN,SI,1,Privada,JURIDICO,Amazonas
3,Amazonas,LETICIA,9100100158,IMPROVE QUALITY REDUCE COST SAVE LIFES AUDITOR...,NaN,SI,1,Privada,JURIDICO,Amazonas
4,Amazonas,LETICIA,9100100144,"INSTITUTO PARA LA PREVENCIÓN, EL TRATAMIENTO Y...",NaN,SI,1,Privada,JURIDICO,Amazonas

In [65]:
df_ips.groupby(['naju_nombre']).agg(count=('codigo_habilitacion', 'count'))

             count
naju_nombre
Mixta           18
Privada      10446
Pública       1002

In [56]:
pd.merge(df_ips, df_prestadores, how='inner', left_on='codigo_habilitacion', right_on='codigo_prestador')

,depa_nombre,muni_nombre,codigo_habilitacion,razon_social,nivel,habilitado,naju_codigo,naju_nombre,clase_persona,Departamento,codigo_prestador
0,Amazonas,LETICIA,9100100019,E.S.E. HOSPITAL SAN RAFAEL DE LETICIA,2.0,SI,4,Pública,JURIDICO,Amazonas,9100100019
1,Amazonas,LETICIA,9100100185,FREYA SKIN AND BODY CARE S.A.S TWO,NaN,SI,1,Privada,JURIDICO,Amazonas,9100100185
2,Amazonas,LETICIA,9100100069,FUNDACION CLINICA LETICIA,NaN,SI,1,Privada,JURIDICO,Amazonas,9100100069
3,Amazonas,LETICIA,9100100158,IMPROVE QUALITY REDUCE COST SAVE LIFES AUDITOR...,NaN,SI,1,Privada,JURIDICO,Amazonas,9100100158
4,Amazonas,LETICIA,9100100144,"INSTITUTO PARA LA PREVENCIÓN, EL TRATAMIENTO Y...",NaN,SI,1,Privada,JURIDICO,Amazonas,9100100144
...,...,...,...,...,...,...,...,...,...,...,...
10177,Vichada,LA PRIMAVERA,9952400091,DEFENSALUD HUMANDA IPS SAS,NaN,SI,1,Privada,JURIDICO,Vichada,9952400091
10178,Vichada,PUERTO CARREÑO,9900100127,CORPORACIÓN SOCIAL LA FONTANA,NaN,SI,1,Privada,JURIDICO,Vichada,9900100127
10179,Vichada,PUERTO CARREÑO,9900100006,E.S.E. HOSPITAL DEPARTAMENTAL SAN JUAN DE DIOS,2.0,SI,4,Pública,JURIDICO,Vichada,9900100006
10180,Vichada,PUERTO CARREÑO,9900100117,IPS DIPOSALUD SAS,NaN,SI,1,Privada,JURIDICO,Vichada,9900100117
10181,Vichada,SANTA ROSALÍA,9962400122,IPS INCI SALUD SAS,NaN,SI,1,Privada,JURIDICO,Vichada,9962400122

# 2016

In [48]:
df_caracterizacion = pd.read_csv('../../Data/Datos_Caracterizacion_REPS.csv')

In [49]:
df_caracterizacion.head()

  Departamento  Privada  Pública  Mixta  Total general
0     Amazonas       12        1      0             13
1    Antioquia      808      129      3            940
2       Arauca       57        5      1             63
3    Atlántico      748       28      2            778
4   Bogotá D.C     1639        9      2           1650

In [77]:
df_caracterizacion_naju = pd.DataFrame(
    {
        'Naturaleza_Juridica': ['Mixta', 'Privada', 'Pública'],
        'Cantidad': [19, 9333, 1015]
    }
)
df_caracterizacion_naju

  Naturaleza_Juridica  Cantidad
0               Mixta        19
1             Privada      9333
2             Pública      1015

In [50]:
df_caracterizacion['Total general'].sum()

10367

In [60]:
df_caracterizacion['Privada'].sum()

9333

In [61]:
df_caracterizacion['Pública'].sum()

1015

In [62]:
df_caracterizacion['Mixta'].sum()

19

# 2013

In [47]:
df_radiografia = pd.read_csv('../../Data/Datos_Radiografia_Servicios_Salud.csv')

In [51]:
df_radiografia.head()

      Departamento  Numero_IPS
0       Bogotá D.C        3284
1  Valle del Cauca        2136
2        Antioquia        1945
3        Santander        1155
4        Atlántico        1028

In [53]:
df_radiografia['Numero_IPS'].sum()

18959

In [74]:
df_radiografia_naju = pd.DataFrame(
    {
        'Naturaleza_Juridica': ['Mixta', 'Privada', 'Pública'],
        'Cantidad': [75, 14996, 3888]        
    }
)

In [75]:
df_radiografia_naju

  Naturaleza_Juridica  Cantidad
0               Mixta        75
1             Privada     14996
2             Pública      3888

# Resumen

In [78]:
data = {
    'Naturaleza Juridica': ['Mixta', 'Privada', 'Pública'],
    '2013': [75, 14996, 3888],
    '2016': [19, 9333, 1015],
    'REPS Sedes': [60, 16045, 3621],
    'REPS Prestadores': [18, 10055, 999]
}

df = pd.DataFrame(data)

In [80]:
df

  Naturaleza Juridica   2013  2016  REPS Sedes  REPS Prestadores
0               Mixta     75    19          60                18
1             Privada  14996  9333       16045             10055
2             Pública   3888  1015        3621               999

In [82]:
df_melted = df.melt(id_vars=['Naturaleza Juridica'], var_name='Category', value_name='Value')
df_melted

   Naturaleza Juridica          Category  Value
0                Mixta              2013     75
1              Privada              2013  14996
2              Pública              2013   3888
3                Mixta              2016     19
4              Privada              2016   9333
5              Pública              2016   1015
6                Mixta        REPS Sedes     60
7              Privada        REPS Sedes  16045
8              Pública        REPS Sedes   3621
9                Mixta  REPS Prestadores     18
10             Privada  REPS Prestadores  10055
11             Pública  REPS Prestadores    999

In [99]:
color_palette = {
    'Privada': '#3364C7',
    'Pública': '#8CBCB9',
    'Mixta': '#826251'
}

fig = px.bar(df_melted, 
             x='Category',
             y='Value',
             color='Naturaleza Juridica',
             barmode='stack',
             width=700,
             height=500,
             color_discrete_map=color_palette,
             title='Número de IPS por Investigación',
             )

fig.update_yaxes(range=[0,20000])
fig.update_xaxes(title_text='Método')
fig.update_yaxes(title_text='Número IPS')

# Show the plot
fig.show()