In [2]:
import pandas as pd
from geopy.distance import geodesic

# Datos - Latitud, Longitud - Municipios

In [3]:
df_municipios_ubicacion = pd.read_csv('../../Data/DIVIPOLA_Municipios.csv')

In [4]:
df_municipios_ubicacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Código_Dep    1121 non-null   int64
 1   Departamento  1121 non-null   object
 2   Código_Mun    1121 non-null   int64
 3   Municipio     1121 non-null   object
 4   Tipo          1121 non-null   object
 5   Latitud       1121 non-null   float64
 6   Longitud      1121 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 61.4+ KB

In [5]:
df_municipios_ubicacion.head()

,Código_Dep,Departamento,Código_Mun,Municipio,Tipo,Latitud,Longitud
0,5,ANTIOQUIA,5001,MEDELLÍN,Municipio,6.257590,-75.611031
1,5,ANTIOQUIA,5002,ABEJORRAL,Municipio,5.803728,-75.438474
2,5,ANTIOQUIA,5004,ABRIAQUÍ,Municipio,6.627569,-76.085978
3,5,ANTIOQUIA,5021,ALEJANDRÍA,Municipio,6.365534,-75.090597
4,5,ANTIOQUIA,5030,AMAGÁ,Municipio,6.032922,-75.708003

In [25]:
df_municipios_ubicacion.set_index('Código_Mun', inplace=True)

In [26]:
df_municipios_ubicacion.head()

,Código_Dep,Departamento,Municipio,Tipo,Latitud,Longitud
Código_Mun,,,,,,
5001,5,ANTIOQUIA,MEDELLÍN,Municipio,6.257590,-75.611031
5002,5,ANTIOQUIA,ABEJORRAL,Municipio,5.803728,-75.438474
5004,5,ANTIOQUIA,ABRIAQUÍ,Municipio,6.627569,-76.085978
5021,5,ANTIOQUIA,ALEJANDRÍA,Municipio,6.365534,-75.090597
5030,5,ANTIOQUIA,AMAGÁ,Municipio,6.032922,-75.708003

In [37]:
df_municipios_ubicacion.index

Index([ 5001,  5002,  5004,  5021,  5030,  5031,  5034,  5036,  5038,  5040,
       ...
       97001, 97161, 97511, 97666, 97777, 97889, 99001, 99524, 99624, 99773],
      dtype='int64', name='Código_Mun', length=1121)

# Distancias

In [ ]:
mun_codigos = {}

In [ ]:
for i in range(0, len(df_municipios_ubicacion)):
    print(i)
    mun = df_municipios_ubicacion.iloc[i]
    mun_codigos[mun['Código_Mun']] = {
        'Nombre': mun['Municipio'],
        'Latitud': mun['Latitud'],
        'Longitud': mun['Longitud'],
    }
    break

0

In [18]:
def calcular_distancia(coord1, coord2):
    return geodesic(coord1, coord2).kilometers

In [62]:
coord1 = (6.257590, -75.611031)
coord2 = (5.803728, -75.438474)
# coord2 = (6.365534,	-75.090597)

In [65]:
calcular_distancia(coord1, coord2)

53.703589571742896

In [38]:
df_distancias = pd.DataFrame(index=df_municipios_ubicacion.index, columns=df_municipios_ubicacion.index)

In [39]:
df_distancias

Código_Mun,5001,5002,5004,5021,5030,5031,5034,5036,5038,5040,...,97001,97161,97511,97666,97777,97889,99001,99524,99624,99773
Código_Mun,,,,,,,,,,,,,,,,,,,,,
5001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
columnas = df_municipios_ubicacion.index

In [78]:
for i in (df_distancias):
    codigo_mun_i = i
    mun_i = df_municipios_ubicacion.loc[codigo_mun_i]
    lat_long_i = mun_i['Latitud'], mun_i['Longitud']
    
    for j in df_distancias.columns:
        if i == j:
            distancia_ij = 0
            df_distancias.at[i, j] = distancia_ij
            
        else:
            codigo_mun_j = j
            mun_j = df_municipios_ubicacion.loc[codigo_mun_j]
            lat_long_j = mun_j['Latitud'], mun_j['Longitud']            
            distancia_ij = calcular_distancia(lat_long_i, lat_long_j)            
            df_distancias.at[i, j] = distancia_ij
            # break
    # break

In [81]:
df_distancias

Código_Mun,5001,5002,5004,5021,5030,5031,5034,5036,5038,5040,...,97001,97161,97511,97666,97777,97889,99001,99524,99624,99773
Código_Mun,,,,,,,,,,,,,,,,,,,,,
5001,0,53.703622,66.591406,58.809878,27.064665,105.800414,80.903995,19.014856,72.397874,117.433345,...,810.255407,746.454586,892.789979,998.466703,735.537845,895.950751,828.240632,668.395673,566.730327,710.162439
5002,53.703622,0,115.910657,73.094701,39.155161,139.342789,59.876344,46.671533,117.312269,157.925265,...,761.584489,695.854709,842.012362,947.768865,687.041648,848.611321,808.169183,645.296037,537.593487,677.915019
5004,66.591406,115.910657,0,113.848028,77.932416,128.113349,114.212065,69.34624,84.503392,124.826597,...,876.384554,811.63128,957.843727,1063.584161,801.71361,962.401711,883.540089,726.162389,628.30793,773.023022
5021,58.809878,73.094701,113.848028,0,77.601236,68.780022,126.271336,74.282397,62.328162,91.542881,...,779.511386,720.726475,867.155613,972.367209,704.656824,862.285872,771.461439,612.893168,514.544584,659.633414
5030,27.064665,39.155161,77.932416,77.601236,0,131.833774,53.915967,9.827294,99.461171,144.419607,...,800.689306,734.600668,880.682272,986.457367,726.163313,887.766259,838.120054,676.646083,571.612788,713.294672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97889,895.950751,848.611321,962.401711,862.285872,887.766259,903.347765,878.604152,894.774596,922.163182,930.515649,...,97.722096,192.119936,138.761951,174.725707,165.320933,0,577.084969,517.979896,471.689173,379.337837
99001,828.240632,808.169183,883.540089,771.461439,838.120054,767.137602,864.375137,839.242378,806.496005,785.060473,...,587.834767,636.69287,699.270794,751.104385,563.322974,577.084969,0,167.615984,295.185885,231.778728
99524,668.395673,645.296037,726.162389,612.893168,676.646083,614.806712,700.406427,678.363227,652.179951,634.815801,...,501.644864,529.030657,619.595167,690.45588,459.555088,517.979896,167.615984,0,130.253018,139.230239
99624,566.730327,537.593487,628.30793,514.544584,571.612788,527.498977,589.638884,574.524754,560.761742,550.437419,...,432.570961,439.377318,550.486484,634.541972,376.924168,471.689173,295.185885,130.253018,0,148.518839
99773,710.162439,677.915019,773.023022,659.633414,713.294672,675.260809,727.321289,716.838598,707.659213,698.527625,...,369.234745,407.977679,485.732815,552.594051,335.515636,379.337837,231.778728,139.230239,148.518839,0

In [82]:
df_distancias.to_csv('../../Data/Distancias_Municipios.csv')