# Librerías

In [1]:
import pandas as pd

# Departamentos Codigos

In [28]:
df_departamentos_codigos = pd.read_csv('../Data/Departamentos_Codigos.csv')

In [29]:
df_departamentos_codigos

,Codigo,Departamento_DANE,Departamento_DIVIPOLA,Departamento_REPS,Departamento_IPS_Complejidad,Departamento_IPS_Atencion_Capacidad,Departamento_Capacidad_Instalada_Mal,Departamento_Capacidad_Instalada,Departamento_Radiografia,Departamento_Caracterizacion,Departamento
0,5,Antioquia,ANTIOQUIA,Antioquia,Antioquia,Antioquia,Antioquia,Antioquia,Antioquia,Antioquia,Antioquia
1,8,Atlántico,ATLÁNTICO,AtlÃ¡ntico,AtlÃ¡ntico,AtlÃ¡ntico,AtlÃ¡ntico,Atlántico,Atlántico,Atlántico,Atlántico
2,11,"Bogotá, D.C.","BOGOTÁ, D.C.",BogotÃ¡ D.C,BogotÃ¡ D.C,BogotÃ¡ D.C,"BogotÃ¡, D.C.","Bogotá, D.C.",Bogotá D.C,Bogotá D.C,Bogotá D.C
3,13,Bolívar,BOLÍVAR,BolÃ­var,BolÃ­var,BolÃ­var,BolÃ­var,Bolívar,Bolívar,Bolívar,Bolívar
4,15,Boyacá,BOYACÁ,BoyacÃ¡,BoyacÃ¡,BoyacÃ¡,BoyacÃ¡,Boyacá,Boyacá,Boyacá,Boyacá
5,17,Caldas,CALDAS,Caldas,Caldas,Caldas,Caldas,Caldas,Caldas,Caldas,Caldas
6,18,Caquetá,CAQUETÁ,CaquetÃ¡,CaquetÃ¡,CaquetÃ¡,CaquetÃ¡,Caquetá,Caquetá,Caquetá,Caquetá
7,19,Cauca,CAUCA,Cauca,Cauca,Cauca,Cauca,Cauca,Cauca,Cauca,Cauca
8,20,Cesar,CESAR,Cesar,Cesar,Cesar,Cesar,Cesar,Cesar,Cesar,Cesar
9,23,Córdoba,CÓRDOBA,CÃ³rdoba,CÃ³rdoba,CÃ³rdoba,CÃ³rdoba,Córdoba,Córdoba,Córdoba,Córdoba
10,25,Cundinamarca,CUNDINAMARCA,Cundinamarca,Cundinamarca,Cundinamarca,Cundinamarca,Cundinamarca,Cundinamarca,Cundinamarca,Cundinamarca
11,27,Chocó,CHOCÓ,ChocÃ³,ChocÃ³,ChocÃ³,ChocÃ³,Chocó,Chocó,Chocó,Chocó
12,41,Huila,HUILA,Huila,Huila,Huila,Huila,Huila,Huila,Huila,Huila
13,44,La Guajira,LA GUAJIRA,La Guajira,La Guajira,La Guajira,La Guajira,La Guajira,La Guajira,La Guajira,La Guajira
14,47,Magdalena,MAGDALENA,Magdalena,Magdalena,Magdalena,Magdalena,Magdalena,Magdalena,Magdalena,Magdalena
15,50,Meta,META,Meta,Meta,Meta,Meta,Meta,Meta,Meta,Meta
16,52,Nariño,NARIÑO,NariÃ±o,NariÃ±o,NariÃ±o,NariÃ±o,Nariño,Nariño,Nariño,Nariño
17,54,Norte de Santander,NORTE DE SANTANDER,Norte de Santander,Norte de Santander,Norte de Santander,Norte de Santander,Norte de Santander,Norte de Santander,Norte de Santander,Norte de Santander
18,63,Quindio,QUINDÍO,QuindÃ­o,QuindÃ­o,QuindÃ­o,QuindÃ­o,Quindío,Quindío,Quindío,Quindío
19,66,Risaralda,RISARALDA,Risaralda,Risaralda,Risaralda,Risaralda,Risaralda,Risaralda,Risaralda,Risaralda
20,68,Santander,SANTANDER,Santander,Santander,Santander,Santander,Santander,Santander,Santander,Santander
21,70,Sucre,SUCRE,Sucre,Sucre,Sucre,Sucre,Sucre,Sucre,Sucre,Sucre
22,73,Tolima,TOLIMA,Tolima,Tolima,Tolima,Tolima,Tolima,Tolima,Tolima,Tolima
23,76,Valle del Cauca,VALLE DEL CAUCA,Valle del cauca,Valle del cauca,Valle del cauca,Valle del Cauca,Valle del Cauca,Valle del cauca,Valle del cauca,Valle del cauca
24,81,Arauca,ARAUCA,Arauca,Arauca,Arauca,Arauca,Arauca,Arauca,Arauca,Arauca
25,85,Casanare,CASANARE,Casanare,Casanare,Casanare,Casanare,Casanare,Casanare,Casanare,Casanare
26,86,Putumayo,PUTUMAYO,Putumayo,Putumayo,Putumayo,Putumayo,Putumayo,Putumayo,Putumayo,Putumayo
27,88,Archipiélago de San Andrés,"ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...",San AndrÃ©s y Providencia,San AndrÃ©s y Providencia,San AndrÃ©s y Providencia,"ArchipiÃ©lago de San AndrÃ©s, Providencia y Sa...","Archipiélago de San Andrés, Providencia y Sant...",San Andrés y Providencia,San Andrés y Providencia,San Andrés y Providencia
28,91,Amazonas,AMAZONAS,Amazonas,Amazonas,Amazonas,Amazonas,Amazonas,Amazonas,Amazonas,Amazonas
29,94,Guainía,GUAINÍA,GuainÃ­a,GuainÃ­a,GuainÃ­a,GuainÃ­a,Guainía,Guainía,Guainía,Guainía
30,95,Guaviare,GUAVIARE,Guaviare,Guaviare,Guaviare,Guaviare,Guaviare,Guaviare,Guaviare,Guaviare
31,97,Vaupés,VAUPÉS,VaupÃ©s,VaupÃ©s,VaupÃ©s,VaupÃ©s,Vaupés,Vaupés,Vaupés,Vaupés
32,99,Vichada,VICHADA,Vichada,Vichada,Vichada,Vichada,Vichada,Vichada,Vichada,Vichada

# Capacidad Instalada

In [47]:
df_capacidad_instalada = pd.read_csv('./Data/Capacidad_Instalada_Transformed.csv')

In [48]:
df_capacidad_instalada = pd.merge(df_capacidad_instalada, df_departamentos_codigos[['Codigo', 'Departamento_Capacidad_Instalada']], how='left', left_on='Departamento', right_on='Departamento_Capacidad_Instalada')
df_capacidad_instalada.drop('Departamento_Capacidad_Instalada', axis=1, inplace=True)

In [50]:
df_capacidad_instalada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Anio                                      692 non-null    int64
 1   Departamento                              692 non-null    object
 2   Camas de hospitalización                  692 non-null    int64
 3   Camas de observación                      692 non-null    int64
 4   Consultorios de consulta externa          692 non-null    int64
 5   Consultorios en el servicio de urgencias  692 non-null    int64
 6   Mesas de partos                           692 non-null    int64
 7   Número de unidades de odontología         692 non-null    int64
 8   Salas de quirófanos                       692 non-null    int64
 9   Codigo                                    671 non-null    float64
dtypes: float64(1), int64(8), object(1)
memory usage: 54.2+ KB

In [49]:
df_capacidad_instalada

,Anio,Departamento,Camas de hospitalización,Camas de observación,Consultorios de consulta externa,Consultorios en el servicio de urgencias,Mesas de partos,Número de unidades de odontología,Salas de quirófanos,Codigo
0,2002,Amazonas,115,8,16,10,10,11,11,91.0
1,2002,Antioquia,2816,556,894,170,186,414,114,5.0
2,2002,Arauca,233,39,33,12,12,20,9,81.0
3,2002,"Archipiélago de San Andrés, Providencia y Sant...",69,2,22,4,2,8,3,88.0
4,2002,Atlántico,959,134,171,42,47,57,23,8.0
...,...,...,...,...,...,...,...,...,...,...
687,2022,Sucre,552,265,220,45,32,59,7,70.0
688,2022,Tolima,1281,508,376,93,56,101,30,73.0
689,2022,Valle del Cauca,1976,647,1369,151,55,362,45,76.0
690,2022,Vaupés,22,10,7,3,3,6,1,97.0
691,2022,Vichada,77,6,24,5,5,7,2,99.0

In [46]:
df_capacidad_instalada[df_capacidad_instalada.isna().any(axis=1)]

,Anio,Departamento,Camas de hospitalización,Camas de observación,Consultorios de consulta externa,Consultorios en el servicio de urgencias,Mesas de partos,Número de unidades de odontología,Salas de quirófanos,Codigo,Departamento_Capacidad_Instalada
22,2002,Nacional,25224,4742,6131,1496,1472,2815,810,NaN,NaN
56,2003,Nacional,25185,5229,6624,1630,1568,3054,825,NaN,NaN
90,2004,Nacional,24853,5508,7520,1739,1611,3401,828,NaN,NaN
124,2005,Nacional,24729,5897,7795,1729,1591,3600,766,NaN,NaN
158,2006,Nacional,24945,6360,8171,1815,1546,3689,764,NaN,NaN
191,2007,Nacional,25121,6010,8516,1834,1511,3861,636,NaN,NaN
224,2008,Nacional,24882,6270,8478,2133,1463,5063,614,NaN,NaN
256,2009,Nacional,25087,6664,9060,1865,1431,4477,599,NaN,NaN
288,2010,Nacional,25050,6988,9139,1863,1443,3863,584,NaN,NaN
321,2011,Nacional,26601,7510,9566,1956,1434,3970,595,NaN,NaN
354,2012,Nacional,26025,7456,9560,3327,1401,4045,619,NaN,NaN
387,2013,Nacional,26013,7733,9862,1947,1340,4011,561,NaN,NaN
420,2014,Nacional,26009,8068,9897,1939,1309,4063,565,NaN,NaN
453,2015,Nacional,26545,8427,9903,2012,1257,4054,542,NaN,NaN
485,2016,Nacional,25501,8606,10047,1957,1213,3930,617,NaN,NaN
516,2017,Nacional,25970,9034,10285,1981,1193,3915,546,NaN,NaN
548,2018,Nacional,25993,9238,10456,1966,1168,3862,541,NaN,NaN
580,2019,Nacional,26138,9551,10413,1972,1142,3836,525,NaN,NaN
613,2020,Nacional,27491,9387,10730,2041,1174,3909,542,NaN,NaN
647,2021,Nacional,27717,10006,12653,2053,1122,3802,543,NaN,NaN
680,2022,Nacional,27083,10468,13656,7213,1072,3806,548,NaN,NaN

# Poblacion - 1993 - 2004

In [4]:
df_1993_2004 = pd.read_csv('../Data/Poblacion_Departamento_1993_2004.csv')

In [58]:
df_1993_2004 = df_1993_2004[df_1993_2004['ÁREA GEOGRÁFICA'] == 'Total']

In [59]:
df_1993_2004

      DP      DPNOM   AÑO ÁREA GEOGRÁFICA  Población
2      5  Antioquia  1993           Total    4607874
5      5  Antioquia  1994           Total    4679652
8      5  Antioquia  1995           Total    4753428
11     5  Antioquia  1996           Total    4828617
14     5  Antioquia  1997           Total    4904267
...   ..        ...   ...             ...        ...
1175  99    Vichada  2000           Total      66332
1178  99    Vichada  2001           Total      68523
1181  99    Vichada  2002           Total      70763
1184  99    Vichada  2003           Total      73034
1187  99    Vichada  2004           Total      75328

[396 rows x 5 columns]

# Poblacion - 2005 - 2019

In [12]:
df_2005_2019 = pd.read_csv('../Data/Poblacion_Departamento_2005_2019.csv')

In [60]:
df_2005_2019 = df_2005_2019[df_2005_2019['ÁREA GEOGRÁFICA'] == 'Total']

In [61]:
df_2005_2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 495 entries, 2 to 1484
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DP               495 non-null    int64
 1   DPNOM            495 non-null    object
 2   AÑO              495 non-null    int64
 3   ÁREA GEOGRÁFICA  495 non-null    object
 4   Población        495 non-null    int64
dtypes: int64(3), object(2)
memory usage: 23.2+ KB

In [62]:
df_2005_2019

      DP      DPNOM   AÑO ÁREA GEOGRÁFICA  Población
2      5  Antioquia  2005           Total    5460843
5      5  Antioquia  2006           Total    5528121
8      5  Antioquia  2007           Total    5595180
11     5  Antioquia  2008           Total    5662099
14     5  Antioquia  2009           Total    5730377
...   ..        ...   ...             ...        ...
1472  91   Amazonas  2019           Total      77753
1475  94    Guainía  2019           Total      49473
1478  95   Guaviare  2019           Total      84716
1481  97     Vaupés  2019           Total      42721
1484  99    Vichada  2019           Total     110599

[495 rows x 5 columns]

# Poblacion - 2020 - 2050

In [15]:
df_2020_2050 = pd.read_csv('../Data/Poblacion_Departamento_2020_2050.csv')

In [63]:
df_2020_2050 = df_2020_2050[df_2020_2050['ÁREA GEOGRÁFICA'] == 'Total']

In [64]:
df_2020_2050.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1023 entries, 2 to 2078
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DP               1023 non-null   int64
 1   DPNOM            1023 non-null   object
 2   AÑO              1023 non-null   int64
 3   ÁREA GEOGRÁFICA  1023 non-null   object
 4   Población        1023 non-null   int64
dtypes: int64(3), object(2)
memory usage: 48.0+ KB

In [65]:
df_2020_2050

      DP      DPNOM   AÑO ÁREA GEOGRÁFICA  Población
2      5  Antioquia  2020           Total    6649401
5      5  Antioquia  2021           Total    6726219
8      5  Antioquia  2022           Total    6787846
11     5  Antioquia  2023           Total    6848360
14     5  Antioquia  2024           Total    6903721
...   ..        ...   ...             ...        ...
2074  99    Vichada  2046           Total     155150
2075  99    Vichada  2047           Total     155867
2076  99    Vichada  2048           Total     156528
2077  99    Vichada  2049           Total     157136
2078  99    Vichada  2050           Total     157691

[1023 rows x 5 columns]

# Poblaciones Merge

In [83]:
df_poblacion = pd.concat([df_1993_2004, df_2005_2019, df_2020_2050], ignore_index=True)

In [84]:
df_poblacion

      DP      DPNOM   AÑO ÁREA GEOGRÁFICA  Población
0      5  Antioquia  1993           Total    4607874
1      5  Antioquia  1994           Total    4679652
2      5  Antioquia  1995           Total    4753428
3      5  Antioquia  1996           Total    4828617
4      5  Antioquia  1997           Total    4904267
...   ..        ...   ...             ...        ...
1909  99    Vichada  2046           Total     155150
1910  99    Vichada  2047           Total     155867
1911  99    Vichada  2048           Total     156528
1912  99    Vichada  2049           Total     157136
1913  99    Vichada  2050           Total     157691

[1914 rows x 5 columns]

# Capacidad - Poblaciones Merge

In [53]:
df_capacidad_instalada.head()

,Anio,Departamento,Camas de hospitalización,Camas de observación,Consultorios de consulta externa,Consultorios en el servicio de urgencias,Mesas de partos,Número de unidades de odontología,Salas de quirófanos,Codigo
0,2002,Amazonas,115,8,16,10,10,11,11,91.0
1,2002,Antioquia,2816,556,894,170,186,414,114,5.0
2,2002,Arauca,233,39,33,12,12,20,9,81.0
3,2002,"Archipiélago de San Andrés, Providencia y Sant...",69,2,22,4,2,8,3,88.0
4,2002,Atlántico,959,134,171,42,47,57,23,8.0

In [55]:
df_1993_2004.head()

   DP      DPNOM   AÑO                    ÁREA GEOGRÁFICA  Población
0   5  Antioquia  1993                           Cabecera    3165505
1   5  Antioquia  1993  Centros Poblados y Rural Disperso    1442369
2   5  Antioquia  1993                              Total    4607874
3   5  Antioquia  1994                           Cabecera    3238892
4   5  Antioquia  1994  Centros Poblados y Rural Disperso    1440760

In [85]:
df_merge = pd.merge(df_capacidad_instalada, df_poblacion[['DP', 'AÑO', 'Población']], how='left', left_on=['Codigo', 'Anio'], right_on=['DP', 'AÑO'])

In [89]:
df_merge = df_merge[['Anio', 'Codigo', 'Departamento', 'Población', 'Camas de hospitalización',
       'Camas de observación', 'Consultorios de consulta externa',
       'Consultorios en el servicio de urgencias', 'Mesas de partos',
       'Número de unidades de odontología', 'Salas de quirófanos']]

In [90]:
df_merge

,Anio,Codigo,Departamento,Población,Camas de hospitalización,Camas de observación,Consultorios de consulta externa,Consultorios en el servicio de urgencias,Mesas de partos,Número de unidades de odontología,Salas de quirófanos
0,2002,91.0,Amazonas,56082.0,115,8,16,10,10,11,11
1,2002,5.0,Antioquia,5263667.0,2816,556,894,170,186,414,114
2,2002,81.0,Arauca,217509.0,233,39,33,12,12,20,9
3,2002,88.0,"Archipiélago de San Andrés, Providencia y Sant...",61843.0,69,2,22,4,2,8,3
4,2002,8.0,Atlántico,2017648.0,959,134,171,42,47,57,23
...,...,...,...,...,...,...,...,...,...,...,...
687,2022,70.0,Sucre,980942.0,552,265,220,45,32,59,7
688,2022,73.0,Tolima,1367802.0,1281,508,376,93,56,101,30
689,2022,76.0,Valle del Cauca,4626064.0,1976,647,1369,151,55,362,45
690,2022,97.0,Vaupés,45579.0,22,10,7,3,3,6,1
691,2022,99.0,Vichada,120942.0,77,6,24,5,5,7,2

In [94]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 11 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Anio                                      692 non-null    int64
 1   Codigo                                    671 non-null    float64
 2   Departamento                              692 non-null    object
 3   Población                                 671 non-null    float64
 4   Camas de hospitalización                  692 non-null    int64
 5   Camas de observación                      692 non-null    int64
 6   Consultorios de consulta externa          692 non-null    int64
 7   Consultorios en el servicio de urgencias  692 non-null    int64
 8   Mesas de partos                           692 non-null    int64
 9   Número de unidades de odontología         692 non-null    int64
 10  Salas de quirófanos                       692 non-null    int64
dtypes: float64(2), int64(8), object(1)
memory usage: 59.6+ KB

In [98]:
df_merge.to_csv('./Data/Capacidad_Instalada_Poblacion.csv', encoding='utf-8-sig', index=False)

In [105]:
df_merge[df_merge['Anio'] == 2022]['Población'].sum()

51627601.0

In [106]:
for index, row in df_merge.iterrows():
    if row['Departamento'] == 'Nacional':
        anio = row['Anio']
        poblacion_nacional = df_merge[df_merge['Anio'] == anio]['Población'].sum()
        df_merge.at[index, 'Población'] = poblacion_nacional
        print(poblacion_nacional)

40190679.0
40693254.0
41188093.0
41671878.0
42170126.0
42596590.0
43072046.0
43511221.0
43987712.0
44491705.0
44939938.0
45373399.0
45804547.0
46252492.0
46621373.0
47311641.0
48149100.0
49283723.0
50345749.0
51117378.0
51627601.0

In [107]:
df_merge

,Anio,Codigo,Departamento,Población,Camas de hospitalización,Camas de observación,Consultorios de consulta externa,Consultorios en el servicio de urgencias,Mesas de partos,Número de unidades de odontología,Salas de quirófanos
0,2002,91.0,Amazonas,56082.0,115,8,16,10,10,11,11
1,2002,5.0,Antioquia,5263667.0,2816,556,894,170,186,414,114
2,2002,81.0,Arauca,217509.0,233,39,33,12,12,20,9
3,2002,88.0,"Archipiélago de San Andrés, Providencia y Sant...",61843.0,69,2,22,4,2,8,3
4,2002,8.0,Atlántico,2017648.0,959,134,171,42,47,57,23
...,...,...,...,...,...,...,...,...,...,...,...
687,2022,70.0,Sucre,980942.0,552,265,220,45,32,59,7
688,2022,73.0,Tolima,1367802.0,1281,508,376,93,56,101,30
689,2022,76.0,Valle del Cauca,4626064.0,1976,647,1369,151,55,362,45
690,2022,97.0,Vaupés,45579.0,22,10,7,3,3,6,1
691,2022,99.0,Vichada,120942.0,77,6,24,5,5,7,2

In [108]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 11 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Anio                                      692 non-null    int64
 1   Codigo                                    671 non-null    float64
 2   Departamento                              692 non-null    object
 3   Población                                 692 non-null    float64
 4   Camas de hospitalización                  692 non-null    int64
 5   Camas de observación                      692 non-null    int64
 6   Consultorios de consulta externa          692 non-null    int64
 7   Consultorios en el servicio de urgencias  692 non-null    int64
 8   Mesas de partos                           692 non-null    int64
 9   Número de unidades de odontología         692 non-null    int64
 10  Salas de quirófanos                       692 non-null    int64
dtypes: float64(2), int64(8), object(1)
memory usage: 59.6+ KB

In [110]:
df_merge.to_csv('./Data/Capacidad_Instalada_Poblacion.csv', encoding='utf-8-sig', index=False)